*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    background: url(../images/pexels-jonathan-borba-3563172.jpg);  
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#navbar{
    padding: 35px;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: brown;
    font-style: italic;
    font-size: larger;
}

.logo span{
    color: darkgrey;
}

.links ul a{
    color: brown;
    font-size: 25px;
    padding-right: 50px;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    
}
.kleasounds{
    color: darkgrey;
    font-size: 25px;
    margin-top: 140px;
    margin-left: 50px

}

.kleasounds h1{
    margin-left: 40px;
    margin-bottom: 10px;
    
}


#book a{
    text-decoration: none;
    font-size: 20px;
    color: darkgrey;
}

.kleasounds #book{
    background-color: brown;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-left: 150px;
    margin-top: 40px;
    cursor: pointer;
}

#book:hover{
    background-color: black;
    border: 5px solid darkgrey;
    cursor: pointer;

}


.main-1{
    margin-left: 50px;
    margin-right: 50px;
}

#about{
    background-color: brown;
    height: 100vh;
}

#about img{
    height: auto;
    width: 500px;
    margin-top: 150px;
}
.about-text{
    width: 550px;
    margin-right: 90px;
    margin-top: 180px;
}

.main-2{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;

}

.about-text h4{
    color: darkgrey;
    letter-spacing: 8px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;

}

.about-text p{
    letter-spacing: 1px;
    line-height: 23px;
    font-size: 18px;
    margin-bottom: 45px;
    margin-left: 50px;
    text-align: center;
}

#btn-1{
    background-color: black;
    color: darkgrey;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-left: 200px;
    
}

#btn-1:hover{
    background-color: transparent;
    border: 2px solid darkgrey;
    cursor: pointer;
}

/* services */
#services{

}

.serve{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.title h2{
    color: brown;
    font-size: 50px;
    margin-top: 140px;
    margin-left: 670px;
}

h5{
    font-size: 27px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.cop p{
    width: 140%;
}

.serve i{
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 80px;
}

.box{
    font-size: 20px;

}

.card{
    font-weight: bold;
    margin-left: -100px;
    line-height: 30px;
    text-align: center;
}

.box-1{
    font-size: 20px;
    margin: 40px;
    padding: 100px;
}

.box-2{
    font-size: 20px;
    margin-left: 10px;
    margin: 50px;
    padding: 100px;
    

}

.box-3{
    font-size: 20px;
    margin-left: 10px;
    margin: 50px;
    padding: 100px;
    

}

/* footer */

#footer{
    overflow: hidden;
    background: #141006;
    margin-top: 200px;

}

.itemz{
    color: brown;
    font-size: 20px;
}

.itemz .footertitle p{
    font-size: 40px;
    margin-left: 700px;
    margin-top: 50px;

}

.itemz .footernamba{
    margin-top: 100px;
    margin-left: 200px;
    color: darkgrey;
}

.itemz .footernamba li{
    display: flex;
    line-height: 35px;
}

#footer .column{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

#footer .footerContent .socialIcons {
    margin-top: 150px;
    margin-right: 200px;
    
}


#footer .footerContent .socialIcons a{
    text-decoration: none;
    font-size: 20px;
    color: darkgrey;
}

#footer .footerContent .socialIcons i{
    font-size: 1.5em;
    transition: all .3s ease;
    font-size: 35px;
    margin-right: 20px;
}
#footer .footerContent .socialIcons i:hover{
    font-size: 2.5em;
    cursor: pointer;
}



